<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">

<select id="getList" resultType = "kr.co.vo.MemberVO" >
<![CDATA[
select * from mp_member
]]>
</select>

<select id = "read" resultType="kr.co.vo.MemberVO">
select * from mp_member where userId = #{userId}
</select>

<delete id = "delete">
delete from mp_member where userId = #{userId}
</delete>

<update id = "update">
update mp_member
set userPass = #{userPass},
userName = #{userName},
addr1 = #{addr1},
addr2 = #{addr2},
addr3 = #{addr3}
where userId = #{userId}
</update>

</mapper>